<p>
	{{_("Hello")}} {{ name }},
</p>
{% set site_link = "<a href='" + link + "'>" + site_url + "</a>" %}
<p style="margin-top: 15px"><br>{{_("A new QPOS account has been created for you at {0}").format(site_link)}}.</p>

<p style="margin-top: 20px">
    <br>
    {{_("Username")}}: <b>{{ user }}</b><br>
    {{_("Password")}}: <b>{{ password }}</b>
</p>
<p><br>{{_("Click on the link below to start exploring QPOS!")}}</p>

<p style="margin: 20px 0px;">
	<a href="{{ link }}" rel="nofollow" class="btn btn-primary">{{ _("Explore QPOS") }}</a>
</p>

{% if created_by != "Administrator" %}

<p style="margin-top: 15px">
	{{_("Thanks")}},<br>
	{{ created_by }}
</p>
{% endif %}
<br>
<p>
	{{_("You can also copy-paste following link in your browser")}}<br>
	<a href="{{ link }}">{{ link }}</a>
</p>